.block
  .content
    %h2.title Seja bem-vindo!
    .inner
      %p="Seja bem-vindo ao <strong>[self SP];</strong>, o grupo de usuários Objective C de São Paulo!".html_safe
    %br

    %h2.title#encontros Encontros
    .inner
      %p="→ 1º encontro oficial #{link_to '[blog post]', 'http://blog.selfsp.org/?p=31'},
        #{link_to '[agendatech]', 'http://agendatech.com.br/eventos/tecnologia/2012/primeiro-encontro-oficial-self-sp'},
        #{link_to '[Call4Paperz]', 'http://call4paperz.com/events/self-sp'}".html_safe
    %br

    %h2.title#quem_pode_participar Quem pode participar?
    .inner
      %p Qualquer pessoa interessada pode participar gratuitamente do grupo e dos encontros. Não existe custo algum para participar.
    %br

    %h2.title#grupo_de_discussao Grupo de discussão
    .inner
      %p="Temos um grupo de discussão, que pode ser acessado no link: <strong>#{link_to 'groups.google.com/group/selfsp', 'http://groups.google.com/group/selfsp', :class => 'external'}</strong>.".html_safe
    %br

    %h2.title#blog Blog
    .inner
      %p="Lucas Catón (<strong>#{link_to '@lucascaton', 'http://twitter.com/lucascaton', :class => 'external'}</strong>), Madson Cardoso (<strong>#{link_to '@madsonmac', 'http://twitter.com/madsonmac', :class => 'external'}</strong>), Tales Pinheiro (<strong>#{link_to '@talesp', 'http://twitter.com/talesp', :class => 'external'}</strong>) e Fernando Bass (<strong>#{link_to '@fer_bass', 'http://twitter.com/fer_bass', :class => 'external'}</strong>) postam sobre desenvolvimento para iOS e novidades relacionadas ao nosso grupo: <strong>#{link_to 'blog.selfsp.org', 'http://blog.selfsp.org/', :class => 'external'}</strong>.".html_safe
    %br

    %h2.title#irc IRC
    .inner
      %p="Para acessar nosso canal no IRC, conecte-se ao servidor <strong>chat.freenode.net</strong> e adicione o canal <strong>#selfsp</strong>.".html_safe
    %br

    %h2.title#tutoriais Tutoriais
    .inner
      %p Nenhum tutorial está disponível ainda :-(
      %p Aguardem por novidades em breve!
    %br
